In [1]:
import numpy as np
import pandas as pd

# Loading the Data Sets

In [2]:
train=pd.read_csv('train.csv')

In [4]:
train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [5]:
train.shape

(1458644, 11)

In [6]:
test=pd.read_csv('test.csv')

In [7]:
test.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N

In [8]:
test.shape

(625134, 9)

# Testing the datasets

In [16]:
print('The Vendor ID is unique') if ( train.id.nunique() == train.shape[0] ) else print ( 'The vendor id is not unique')

The Vendor ID is unique

In [20]:
print("The Train and Test sets are distinct") if ( len(np.intersect1d(train.id.values,test.id.values)) == 0 ) else print("There are some overlapping IDs between Train and test sets")

The Train and Test sets are distinct

In [32]:
train_missing_data=train[train.isnull().any(axis=1)]
test_missing_data = test[test.isnull().any(axis=1)]

In [34]:
print("No Missing Data in Training Set") if  ( len(train_missing_data) == 0 ) else print("There are "+str(len(train_missing_data))+" in Training set")

No Missing Data in Training Set

In [35]:
print("No Missing Data in Test Set") if  ( len(test_missing_data) == 0 ) else print("There are "+str(len(test_missing_data))+" in Testing set")

No Missing Data in Test Set

# Recoding the pick and dropoff date cols

In [36]:
train[pickup_datetime pickup_datetime

NameError: name 'pickup_datetime' is not defined