In [1]:
lst=[letter for letter in 'word']

In [2]:
lst

['w', 'o', 'r', 'd']

In [3]:
lst_new =  [x**2 for x in range(100)]

In [4]:
lst_new

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]

In [9]:
even = [num for num in range(11) if num % 2 ==0]

In [10]:
even

[0, 2, 4, 6, 8, 10]

In [11]:
celsius = [0,10,20.1,34.5]

In [12]:
faranheit = [(temp * (9/5.0) +32) for temp in celsius]

In [13]:
faranheit

[32.0, 50.0, 68.18, 94.1]

In [19]:
letter_num = [(letter,num) for letter in 'abcd' for num in range(4)]

In [21]:
letter_num

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 0),
 ('c', 1),
 ('c', 2),
 ('c', 3),
 ('d', 0),
 ('d', 1),
 ('d', 2),
 ('d', 3)]

Dict Comprehensions

In [22]:
names=['Bruce','Clark','Peter','Logan','Wade']
superhero=['Batman','Superman','Spiderman','Wolverine','Deadpool']

In [23]:
zip(names,superhero)

[('Bruce', 'Batman'),
 ('Clark', 'Superman'),
 ('Peter', 'Spiderman'),
 ('Logan', 'Wolverine'),
 ('Wade', 'Deadpool')]

In [26]:
my_dict

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Logan': 'Wolverine',
 'Peter': 'Spiderman',
 'Wade': 'Deadpool'}

In [25]:
my_dict = { name:hero for name,hero in zip(names,superhero)}

In [27]:
my_dict = { name:hero for name,hero in zip(names,superhero) if name != 'Peter'}

In [28]:
my_dict

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Logan': 'Wolverine',
 'Wade': 'Deadpool'}

Set Comprehensions

In [29]:
nums=[1,1,1,3,3,3,3,2,2,2,9,9,6,6]
my_set={n for n in nums}

In [30]:
my_set

{1, 2, 3, 6, 9}

Generator Experssions

In [34]:
num=[1,2,3,4,5,6,7,8,9,10]
my_gen=(n for n in num)

In [35]:
my_gen

In [36]:
for val in my_gen:
    print val

1
2
3
4
5
6
7
8
9
10