In [1]:
t=(1,2,3)

In [2]:
len(t)

3

In [3]:
t = ("one",2,"three")

In [4]:
t

('one', 2, 'three')

In [6]:
t[-1]

'three'

In [10]:
t[1:2]

(2,)

In [11]:
t.index(2)

1

In [13]:
t.count('one')

1

In [14]:
t[0] = 1

TypeError: 'tuple' object does not support item assignment

In [ ]:
If you make a ds that cannot be pd