In [1]:
import pandas as pd

In [3]:
geo_data=pd.read_csv('Townlands__OSi_National_Placenames_Gazetteer.csv')

C:\Anaconda2\envs\py35\lib\site-packages\IPython\core\interactiveshell.py:2705: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
geo_data.head()

,X,Y,OBJECTID,County,Contae,Local_Government_Area,Limistéar_Rialtas_Áitiúil,Classification,Cineál,Gaeltacht,...,Alternative_Name,IG_E,IG_N,ITM_E,ITM_N,Irish_Validation,Legislation,Validated_By,Date_,Comment_
0,-8.154702,51.812504,10001,CORK,Corcaigh,CORK,NaN,Td,Bf,N,...,NaN,189380,62197,589333,562261,NaN,NaN,Fiontar,NaN,NaN
1,-8.988414,51.890985,10002,CORK,Corcaigh,CORK,NaN,Td,Bf,N,...,NaN,132001,71380,531966,571442,NaN,NaN,Fiontar,NaN,NaN
2,-8.869571,51.678448,10003,CORK,Corcaigh,CORK,NaN,Td,Bf,N,...,NaN,139901,47627,539864,547695,NaN,NaN,Fiontar,NaN,NaN
3,-8.560456,51.990597,10004,CORK,Corcaigh,CORK,NaN,Td,Bf,N,...,NaN,161549,82150,561508,582210,NaN,NaN,Fiontar,NaN,NaN
4,-9.612001,51.612860,10005,CORK,Corcaigh,CORK,NaN,Td,Bf,N,...,NaN,88388,41203,488362,541272,NaN,NaN,Fiontar,NaN,NaN

In [26]:
passage_west_df = geo_data[(geo_data.English_Name == 'PASSAGE WEST') ]

In [27]:
passage_west_df[['X','Y']]

              X          Y
46515 -6.973717  52.239353

In [28]:
passage_west_df = geo_data[(geo_data.English_Name == 'PASSAGE WEST')  & (geo_data.Local_Government_Area == 'WATERFORD') ]

In [29]:
passage_west_df[['X','Y']]

              X          Y
46515 -6.973717  52.239353

In [34]:
s = 'dad'

In [37]:
 s[-1]

'd'

In [39]:
pairs=[(one,two) for one in x for two in y]

In [40]:
pairs

[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1)]