In [1]:
import pandas as pd

In [13]:
df=pd.read_csv('C:\\vm\\host\\temp\\GPS\\gps.csv',header=0)

In [14]:
df.shape

(6686594, 5)

In [4]:
df_nodup = df.drop_duplicates()

In [5]:
df_nodup.shape

(6686594, 5)

In [6]:
df_nodup.head()

  Substarte  Site  Kinase  Score  CuttOff
0    O43312   S97  Q15746  1.250    0.718
1    O43312  S272  Q15746  5.000    0.718
2    O43312  S275  Q15746  0.750    0.718
3    O43312  S279  Q15746  3.167    0.718
4    O43312  S290  Q15746  1.083    0.718

In [8]:
sub_df = df_nodup['Substarte']

In [9]:
sub_df

0          O43312
1          O43312
2          O43312
3          O43312
4          O43312
5          O43312
6          O43312
7          O43312
8          O43312
9          O43312
10         O43312
11         O43312
12         O43312
13         O43312
14         O43312
15         O43312
16         O43312
17         O43312
18         O43312
19         O43312
20         O43312
21         O43312
22         O43312
23         O43312
24         O43312
25         O43312
26         O43312
27         O43312
28         O43312
29         O43312
            ...
6691552    P08567
6691553    P08567
6691554    P08567
6691555    P08567
6691556    P08567
6691557    P08567
6691558    P08567
6691559    P08567
6691560    P08567
6691561    P08567
6691562    P08567
6691563    P08567
6691564    P08567
6691565    P08567
6691566    P08567
6691567    P08567
6691568    P08567
6691569    P08567
6691570    P08567
6691571    P08567
6691572    P08567
6691573    P08567
6691574    P08567
6691575    P08567
6691576    P08567
6691577    P08567
6691578    P08567
6691579    P08567
6691580    P08567
6691581    P08567
Name: Substarte, dtype: object

In [10]:
sub_df.drop_duplicates().shape

(2231,)

In [11]:
df_nodup.to_csv('C:\\vm\\host\\temp\\GPS\\gps.csv',index=0)